<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\IdealWeightNutrition.Api.dll"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess"
                  requestTimeout="00:10:00" />
      <security>
        <requestFiltering>
          <!-- 50 MB uploads (product images, banners) -->
          <requestLimits maxAllowedContentLength="52428800" />
        </requestFiltering>
      </security>
      <webSocket enabled="true" />
    </system.webServer>
  </location>
</configuration>
